{
	"version": 1.0,
	"team": "/CxServer",
	"project": "mfeferman-cx-CxWorkshop-master",

	"sast": {
		"preset": "High and Medium and Low",
	      	"incremental": "false",
	      	"forceScan" : "true",
	      	"folderExcludes": ".git,pids,logs,results,build,node_modules,diet,p4,.sass-cache,.DS_Store,.idea,.classpath,.project,.factorypath,.repository,.versionbackup,*test,*tests,dist,maps,.tmp,.grunt,coverage,results,doc,docs",
	      	"fileExcludes": "cx.config"
	},
	
	"additionalProperties" : {
		"cxFlow": {
	      		"filters" : {
	        		"severity": ["High","Medium","Low"]
	      		}
	    	}
	}
}
