{
	  "version": 1.0,
	  "project": "Fef-${repo}",
	  "team": "/CxServer/SP/Partners/NSecurity",

	  "sast": {
	      "preset": "High and Medium and Low",
	      "incremental": "true",
	      "forceScan" : "true",
	      "folderExcludes": ".git,pids,logs,results,build,node_modules,diet,p4,.sass-cache,.DS_Store,.idea,.classpath,.project,.factorypath,.repository,.versionbackup,*test,*tests,dist,maps,.tmp,.grunt,coverage,results,doc,docs"
	  },
	  "additionalProperties" : {
	    "cxFlow": {
	      "filters" : {
	          "severity": ["High"],
	          "status": ["To Verify"]
	      }
	    }
	  }
}
