{
	  "team": "/CxServer",
	  "project": "mfeferman-cx-CxWorkshop-master",

	  "sast": {
	      "preset": "High and Medium and Low",
	      "incremental": "false",
	      "forceScan" : "true"
	  },
	  "additionalProperties" : {
	    "cxFlow": {
	      "filters" : {
	          "severity": ["High"]
	      }
	    }
	  }
	}

